body {
  margin : 0;
}

*{
  box-sizing: border-box;
}

.main{
  margin: 10px;
}

.modal-bg{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 320px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  left : 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: gainsboro
}

.content{
  width: 80%;
  height: 600px;
}

.title{
  border-bottom: 1px solid grey;
}

.input-box{
  margin-top: 20px;
  display: flex;
  height: 40px;
}

input{
  width: 100%;
}

.todolist{
  display: flex;
  justify-content: space-between;
}

.todo{
  width: 40%;
}

.done{
  width: 40%;
}

.task{
  display: flex;
  padding: 10px;
}

.task-name{
  width: 80%;
  text-align: left;
}

.movie-nav{
  display: flex;
  background: black;
  height: 100px;
  align-items: center;
  color: aquamarine;
}

.nav-title{
  padding-left: 10px;
}

.movie-list{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.movie-content{
  position: relative;
}

/* .movie-content div:nth-child(2){
  height: 85%;
}

.movie-content div:nth-child(3){ 
  height: 15%;
} */

.movie-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-inform{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: antiquewhite;
  padding: 10px;
  font-size: 0.7em;
}

.content-des{
  color: aliceblue;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition : opacity 0.5s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.des-overview{
  overflow: hidden;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
}